<!DOCTYPE html>
<html>
<head>
    <title>restablecimiento de Contraseña</title>
</head>
<body style="font-family: sans-serif; text-align: center; margin-top: 100px;">

<h2>Restablecer contraseña</h2>

<form method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" style="text-decoration: none; padding: 5px 10px; background-color: #ec712a; color: white; border-radius: 5px; margin: 10px;">Enviar correo de recuperación</button>
</form>

<p><a href="{% url 'account_login' %}">Volver al login</a></p>

</body>
</html>
