<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
</head>
<body style="font-family: sans-serif; text-align: center; margin-top: 100px;">

<h2>Crear Cuenta</h2>

<form method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" style="text-decoration: none; padding: 5px 10px; background-color: #25df92; color: white; border-radius: 5px; margin: 10px;">Registra Cuenta</button>
</form>

<p>¿Ya tienes cuenta? <a href="{% url 'account_login' %}">Inicia sesión, Aqui!</a></p>

</body>
</html>
