<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Control de Asistencia{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen">

    <!-- Barra superior simple -->
    <nav class="bg-indigo-700 text-white px-6 py-3 mb-6">
        <div class="flex justify-between items-center">
            <div class="font-semibold">
                SCA-B123
            </div>
            <div>
                <a href="/" class="mr-4 hover:underline">Inicio</a>
                <a href="/trabajadores/" class="mr-4 hover:underline">Trabajadores</a>
                <a href="/unidades/" class="mr-4 hover:underline">Unidades</a>
                <a href="/JornadaLaboral/" class="mr-4 hover:underline">JornadaLaboral</a>
                <a href="/Asistencia/" class="mr-4 hover:underline">Asistencia</a>
                <a href="{% url 'incidencia_list' %}" class="mr-4 hover:underline">Incidencias</a>
                <a href="/dashboard/" class="hover:underline">Dashboard</a>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <main class="container mx-auto px-4">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>