<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema de Control de Asistencia{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen">

    <!-- Barra superior -->
    <nav class="bg-indigo-700 text-white px-6 py-3 mb-6">
        <div class="flex justify-between items-center">

            <!-- Título -->
            <div class="font-semibold text-lg">
                SCA-B123
            </div>

            <!-- Menú -->
            <div class="space-x-4">

                <a href="{% url 'home' %}" class="hover:underline">Inicio</a>

                <a href="{% url 'trabajador_list' %}" class="hover:underline">Trabajadores</a>

                <a href="{% url 'unidad_list' %}" class="hover:underline">Unidades</a>

                <a href="{% url 'jornada_list' %}" class="hover:underline">Jornadas</a>

                <a href="{% url 'asistencia_list' %}" class="hover:underline">Asistencia</a>

                <a href="{% url 'incidencia_list' %}" class="hover:underline">Incidencias</a>

                <a href="{% url 'tipoincidencia_list' %}" class="hover:underline">Tipo Incidencia</a>

                <a href="{% url 'tiponombramiento_list' %}" class="hover:underline">Tipo Nombramiento</a>

                <a href="{% url 'dashboard' %}" class="hover:underline">Dashboard</a>
            </div>
        </div>
    </nav>

    <!-- Contenido principal -->
    <main class="container mx-auto px-4">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
